@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-primary: #A1282C;
  --color-blue:#297383;
  --color-gray: #F0F0F0;
  --color-grayer: #D7D7D7;
  --color-dark-gray: #A3A3A3;
  --color-darker-gray: #757575;
  --color-background: #FFFFFF;
  --color-highlight: #E29A9C;
}
